#root {
    background-color: gray;
}

.daoqian {
    margin-top: 5rem;
    background-color: gray;

}

.daoqian p {
    margin-top: 2rem;
    font-size: 1.2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.daoqian h1 {
    text-align: center;
}